- @title = "#{@genre.name} - edit"
.breadCrumbs
  = link_to "Genres", genres_path
%h1
  = link_to_ar @genre
  &gt;
  Edit
  
= errors_for @genre
= form_for @genre, builder: EasyFormBuilder do |f|
  = f.text_field :name
  = f.text_area :description
  = f.submit "Save", class: "button"
  
= link_to "delete genre", @genre, :method => 'delete', :confirm => "Are you sure you want to delete this?"