- if is_admin?
  .right
    = link_to "Edit", edit_genre_path(@genre)
.breadCrumbs
  = link_to "Genres", genres_path
= h1_title @genre.name
- if @genre.description?
  .contentBlock
    = @genre.description
.contentBlock
  %h2 New Games
  - @new_games.each do |game|
    = link_to port_image(game.port, "SL70"), game
.contentBlock
  %h2 Hot Games
  - @hot_games.each do |game|
    = link_to port_image(game.port, "SL70"), game