- if admin?
  .right
    = link_to "Edit", edit_genre_path(@genre)
.breadCrumbs
  = link_to "Games", games_path
  &gt;
  = link_to "Genres", genres_path
= h1_title @genre.name
- if @genre.description?
  .contentBlock
    = @genre.description
= sort_dropdown
= render_ar @games
= will_paginate @games