%h2 sites simular to GameRankr
%ul
  %li
    = link_to "moby games", "http://www.mobygames.com", :rel => 'nofollow'
  %li
    = link_to "ign", "http://www.ign.com", :rel => 'nofollow'
  %li
    = link_to "gamespy", "http://www.gamespy.com", :rel => 'nofollow'
  %li
    = link_to "gamespot", "http://www.gamespot.com", :rel => 'nofollow'
  %li
    = link_to "game rankings", "http://www.gamerankings.com", :rel => 'nofollow'

