= h1_title "About"
%p
  GameRankr lets you easily record which games you own, want to own, have beaten, liked, etc.
  It also lets you record reviews, and see friends and community reviews.
%p  
  I created GameRankr because all other game sites
  don't do what I want.  It's built completely by a gamer for other gamers. 
  If you want to create a wishlist for Christmas or your birthday, it's easy!
%p
  Don't let strangers tell you what you should play.  At GameRankr, there are no
  professional reviews.  You can see reviews from people you know, who's opinions
  matter.
  
%h2 Founder
%p
  GameRankr is completely built, and run by me, Michael Economy
  (#{link_to("my homepage", "http://www.michaeleconomy.com/")}).
  This is a hobby.  Professionally I develop for
  = link_to "Goodreads.com", "http://www.goodreads.com"
  \- a social network for readers.  If you're into reading, it's pretty much the best
  website ever.
  Anyway,
  = link_to "check out my games here.", User.first
  
%h2 Source Code
%p
  For the moment GameRankr is open-source(#{link_to "repository", "https://github.com/michaeleconomy/gamerankr"}),
  if you'd like to contribute, simply fork
  the project, make your changes and submit a pull request.