.pluit-carousel
  .viewport
    %ul
      %li
        = image_tag("hp_carousel/guinea.jpg", :width => "800", :height => "300")
        Gamerankr is a free site where you can rank and review video games with your friends.
      %li
        = image_tag("hp_carousel/ps3_controller.jpg", :width => "800", :height => "300")
        You can post all or some of your reviews directly to facebook easily.
      %li
        = image_tag("hp_carousel/nes.jpg", :width => "800", :height => "300")
        Keep track of all the games you've ever played, track new releases, and see what your friends are playing
      %li
        = image_tag("hp_carousel/ps3.jpg", :width => "800", :height => "300")
        Gamerankr is the ultimate destination for gamers.


.contentBlock
  .left20.blockingLinks
    %h2 Genres
    - @genres.each do |genre|
      = link_to_ar genre

  .right80
    %h2 What's Hot
    - @hot_games.each do |port|
      = link_to amazon_image(port, "SL70"), port

.contentBlock
  %h2 Recent Reviews
  = render :partial => 'rankings/ranking_game_and_user', :collection => @rankings

:javascript
  Pluit.Carousel.init({
    circular: true
  });