- if @bounce_warning
  .flash
    Your email address #{current_user.email} has rejected attempted deliveries.
    = link_to "Edit your email address"

%ul.carousel
  %li
    = image_tag("hp_carousel/guinea.jpg")
    %div
      Gamerankr is a free site where you can rank and review video games with your friends.
  %li.hidden
    = image_tag("hp_carousel/ps3_controller.jpg")
    %div
      You can post all or some of your reviews directly to facebook easily.
  %li.hidden
    = image_tag("hp_carousel/nes.jpg")
    %div
      Keep track of all the games you've ever played, track new releases, and see what your friends are playing
  %li.hidden
    = image_tag("hp_carousel/ps3.jpg")
    %div
      Gamerankr is the ultimate destination for gamers.


.contentBlock
  %h2 What's Hot
  .justify
    - @hot_games.each do |port|
      - game = port.game
      = link_to port_image(port, "SL70"), port, :tip_id => "port_tip_#{port.id}"
      .tip{:id => "port_tip_#{port.id}"}
        = link_to port_image(port, "SX140"), port, :class => 'leftImage'
        .info
          %div
            = link_to_ar port
          %div
            = link_to_ar port.platform
          .rankings
            %div
              = pluralize game.rankings_count, "ranking"
            - if game.average_ranking > 0
              %div
                average rating:
                = number_with_precision(game.average_ranking, :precision => 2)

.contentBlock
  %h2 Recent Reviews
  = render :partial => 'rankings/ranking_game_and_user', :collection => @rankings
- @defered_js = 'one_offs/hp.js'
  