- @meta_description = "Rate and review video games with your friends.  Track all of the video games you want to play, have played, and are currently playing."
- if @bounce_warning
  .error
    Your email address #{current_user.email} has rejected attempted deliveries.
    = link_to "Edit your email address", edit_user_path(current_user)
- if @no_email
  .notice
    %p
      You haven't provided an email address. You can disable all emails, but without an email address: you will not get notified when friends comment on your games, you will not get a weekly friend update email, your account will be more difficult to rescue in the event of problems, and your friends will have more trouble finding you.
    %p
      You can either:
      = link_to "add an email address directly", edit_user_path(current_user)
      or
      = link_to "attach your Facebook email", "/auth/facebook?auth_type=rerequest", method: :post

- if signed_out?  
  %ul.carousel
    %li
      = image_tag("hp_carousel/guinea.jpg")
      %div
        GameRankr is a free site where you can rank and review video games with your friends.
    %li.hidden
      = image_tag("hp_carousel/ps3_controller.jpg")
      %div
        You can post all or some of your reviews directly to facebook easily.
    %li.hidden
      = image_tag("hp_carousel/nes.jpg")
      %div
        Keep track of all the games you've ever played, track new releases, and see what your friends are playing
    %li.hidden
      = image_tag("hp_carousel/ps3.jpg")
      %div
        GameRankr is the ultimate destination for gamers.
-if flash[:user_created]
  :javascript
    PuffinSnippet.create('UserSignUp')
.contentBlock
  %h2 What's Hot
  .justify
    - @hot_games.each do |port|
      - game = port.game
      = link_to port_image(port, "SL70"), port, :tip_id => "port_tip_#{port.id}"

.contentBlock
  %h2 Platforms
  - featured_platforms.each do |p|
    = link_to_ar p
  = link_to "More &hellip;".html_safe, platforms_path

.contentBlock
  %h2 Recent Reviews
  = render :partial => 'rankings/ranking_game_and_user', :collection => @rankings
- @defered_js = 'one_offs/hp.js'
  