- @meta_description = "Rate and review video games with your friends.  Track all of the video games you want to play, have played, and are currently playing."
- if @bounce_warning
  .error
    Your email address #{current_user.email} has rejected attempted deliveries.
    = link_to "Edit your email address", edit_user_path(current_user)
- if @no_email
  .notice
    %p
      You haven't provided an email address. You can disable all emails, but without an email address: you will not get notified when friends comment on your games, you will not get a weekly friend update email, your account will be more difficult to rescue in the event of problems, and your friends will have more trouble finding you.
    %p
      You can either:
      = link_to "add an email address directly", edit_user_path(current_user)
      or
      = link_to "attach your Facebook email", "/auth/facebook?auth_type=rerequest", method: :post
.contentBlock
  %h2 What's Hot
  %div
    - @hot_games.each do |port|
      - game = port.game
      = link_to port_image(port, "SL70"), port, tip_id: "port_tip_#{port.id}"

= render 'shared/popular_platforms'

= render 'shared/browse_links'

.contentBlock
  %h2 Recent Reviews
  = render partial: 'rankings/ranking_game_and_user', collection: @rankings
- @defered_js = 'one_offs/hp.js'
  