- game = port.game
- show_port_rankings_numbers ||= false
.listItem{itemscope: true, itemtype: "http://schema.org/VideoGame"}
  = link_to port_image(port, "SL140", itemprop: "image"), game_path(game, port_id: port.id), class: 'leftImage'
  .info
    .topLine
      = link_to_ar port, itemprop: "name"
      = platform_list(port.game, port)
    - if port.released_at
      - if port.released_at.to_date <= Date.today
        published
      - else
        expected publication
      = release_date(port.released_at, port.released_at_accuracy)
    .rankings
      = pluralize show_port_rankings_numbers ? port.rankings_count : game.rankings_count, "ranking"
      - if game.rankings_count > 0
        average rating:
        = number_with_precision(show_port_rankings_numbers ? port.average_ranking : game.average_ranking, precision: 2)
      - if !game.genres.empty?
        .genres
          = game.genres.map(&:name).join(", ")
  = render partial: 'rankings/rank_stuff', locals: {port: port}