= error_messages_for :port
= form_for @port, :builder => EasyFormBuilder do |f|
  = f.text_field :title
  
  = f.select :platform_id, [["CHOOSE", nil]] + Platform.order("name").all.collect{|p| [p.name, p.id]}
  = f.date_select :released_at,
    :year_range => 50.years.ago..5.years.from_now,
    :include_blank => true
  = f.select :released_at_accuracy, Port::RELEASED_AT_ACCURACIES
  = f.text_field :upc
  = f.text_field :ean
  = f.text_field :manufacturer
  = f.text_field :brand
  = f.text_area :description
  = f.submit "Save"