- @title = "#{@port.title} - edit"
.breadCrumbs
  = link_to "Games", games_path
%h1
  = link_to_ar @port
  &gt;
  Edit

= render 'ports/port_form'


= form_tag(split_port_path(@port)) do
  = submit_tag "split port", :confirm => "Are you sure you want to split out this port?"

= link_to "delete port", @port, :method => 'delete', :confirm => "Are you sure you want to delete this?"