- ranking = ranking_game
- game = ranking.game
- port = ranking.port
.listItem
  = link_to port_image(port, "SX140"), game_path(game, port_id: port.id), class: 'leftImage'
  .info
    .topLine
      = link_to_ar port
      %span.platforms
        = link_to port.platform.short, port.platform
    = render 'rankings/ranking', ranking: ranking
  = render 'rankings/rank_stuff', port: port
    