- hide_shelves |= false
- if ranking.ranking && !hide_shelves
  .stars{itemprop: "reviewRating", itemscope: true, itemtype: "http://schema.org/Rating"}
    %meta{itemprop: "worstRating", content: 1}
    %meta{itemprop: "bestRating", content: 5}
    %meta{itemprop: "ratingValue", content: ranking.ranking}
    - ranking.ranking.times do
      = image_tag('star_lit.png')
- if ranking.review?
  .review{itemprop: "description"}
    "#{ranking.review}"
- if !ranking.ranking_shelves.empty? && !hide_shelves
  .shelves
    Shelves:
    - ranking.shelves.each do |shelf|
      = link_to_ar shelf
- if ranking.started_at? && ranking.finished_at
  .dates
    Played:
    = date ranking.started_at
    \-
    = date ranking.finished_at
- elsif ranking.started_at?
  .dates
    Started on:
    = date ranking.started_at
- elsif ranking.finished_at?
  .dates
    Finished on:
    = date ranking.finished_at
%div
  = link_to date(ranking.updated_at), ranking, class: "lightGrey"
  %meta{itemprop: "datePublished", content: ranking.updated_at.strftime("%Y-%m-%d")}
  = link_to "comment", ranking