- ranking = ranking_game_and_user
- user = ranking.user
- port = ranking.port
- game = port.game
.listItem
  = link_to port_image(port, "SX140"), game_path(game, port_id: port.id), class: 'leftImage'
  .info
    .headline
      = link_to_ar user
      = ranking.verb
      = link_to_ar port
      %span.platforms<
        (#{link_to_ar port.platform})
    %div
      = render_ar ranking
  - if signed_in? && ranking.user_id == current_user.id
    = link_to "Edit my review", edit_ranking_path(ranking)
  - else
    = render 'rankings/rank_stuff', port: port