- ranking = ranking_game_and_user
- game = ranking.game
- user = ranking.user
- port = ranking.port
.listItem
  = link_to amazon_image(ranking.port, "SX120"), game, :class => 'leftImage'
  .info
    = link_to_ar user
    = ranking.verb
    = link_to_ar game
    %div
      = render_ar ranking
  - if ranking.user_id == current_user.id
    = link_to "Edit my review", edit_ranking_path(ranking)
  - else
    = render 'rankings/rank_stuff', :port => port