%table
  %tr
    %th &nbsp;
    - @columns.each do |column|
      - is_current_sort = column == params[:sort]
      %th
        = link_to column,
          url_for(:sort => column,
            :order => @sort_order || !is_current_sort ? nil : "d")
        - if is_current_sort
          - if @sort_order
            = link_to image_tag("up_arrow.gif"), url_for(:order => nil)
          - else
            = link_to image_tag("down_arrow.gif"), url_for(:order => "d")
  - @rankings.each do |ranking|
    - port = ranking.port
    - game = port.game
    %tr
      %td
        = link_to amazon_image(port, "SL40"), game, :class => 'leftImage'
      %td
        = link_to port.title, game
      %td
        = link_to_ar(port.platform)
      %td
        = date ranking.created_at
      %td
        = game.average_ranking
      %td
        = game.rankings_count
      %td
        - (ranking.ranking || 0).times do
          = image_tag('star_lit.png')
      %td
        = link_to "View", ranking
        = link_to "Edit", edit_ranking_path(ranking)
= will_paginate @rankings