- @title = "My Games - #{@shelf.name}"
.bread_crumbs
  = link_to "My Games", my_games_path
  &gt;
%h1
  = @shelf.name
= render "rankings/my_shelves"
- if @rankings.empty?
  %p No games added yet.
- else
  = render "rankings/table"