- @title = "#{@user.real_name}'s Review of #{@port.title}"
.breadCrumbs
  = link_to "Users", users_path
  &gt;
  = link_to_ar @user
  &gt;
  = link_to "Games", rankings_user_path(@user)
  
- if current_user_is_user?
  .right
    = link_to "Edit review", edit_ranking_path(@ranking)
%h1
  Review of
  = link_to_ar @port

.contentBlock
  = render :partial => "rankings/ranking_game_and_user", :object => @ranking

#fb-root

%script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}

%fb:comments{:href => ranking_url, :num_posts => 10, :width => 500}