= render "rankings/views_list"
- @title = "#{@user.real_name}'s Games"
.breadCrumbs
  = link_to "Users", users_path
%h1
  = link_to_ar @user
  &gt;
  Games
.shelves.contentBlock
  Shelves:
  - @shelves.each do |s|
    = link_to_ar s
- if @rankings.empty?
  %p #{@user.first_name} has no games.
- else
  = render partial: 'rankings/ranking_game', collection: @rankings
  = will_paginate @rankings