- @title = "#{@game.title} - Edit Genres"
.breadCrumbs
  = link_to "Games", games_path
%h1
  = link_to_ar @game
  &gt;
  Edit Genres

.contentBlock
  - @all_genres.each do |genre|
    .genre{:id => "genre_#{genre.id}"}
      = genre.name
      - if game_genre = @game_genres[genre.id]
        = link_to_remote_loading "remove",
          :url => game_genre,
          :method => 'delete',
          :success => "$('genre_#{genre.id}').update('removed.')"
      - else
        = link_to_remote_loading "add",
          :url => game_genres_path(:game_genre => {:game_id => @game.id, :genre_id => genre.id}),
          :method => 'post',
          :success => "$('genre_#{genre.id}').update('added!')"

.contentBlock
  %h3 add new genres
  = form_for(Genre.new,
      :remote => true,
      :url => genres_path,
      :builder => EasyFormBuilder,
      :success => "window.location.reload()",
      :error => "alert('error')") do |f|
    = f.text_field :name
    = f.submit "Create"