- @title = "#{@platform.name} - Merge"
.breadCrumbs
  = link_to "Platforms", platforms_path
%h1
  = link_to_ar @platform
  &gt;
  Merge
= form_tag do
  merge with
  = text_field_tag :other_platform_name
  (the name entered here will be merged away,   records will all become #{@platform.name})
  = submit_tag "Merge", :class => 'button'