- @title = "#{@platform.name} - Merge"
.bread_crumbs
  = link_to "Platforms", platforms_path
  &gt;
%h1
  = link_to_ar @platform
  &gt;
  Merge
- form_tag do
  merge with
  = text_field_tag :other_platform_name
  = submit_tag "Merge", :class => 'button'