- if admin?
  .right
    = link_to "Edit", edit_platform_path(@platform)
.breadCrumbs
  = link_to "Platforms", platforms_path

.contentBlock
  .left30
    = platform_image(@platform, "SX250", class: 'cover')
  .left70
    = h1_title @platform.name
    - if @platform.description
      %div
        = @platform.description
    %div
      %strong.question
        Total games:
      =  number_with_delimiter @ports.total_entries
    - if @platform.manufacturer
      %div
        %strong.question
          Manufacturer:
        = link_to_ar @platform.manufacturer
    - if @platform.released_at
      %div
        %strong.question
          - if @platform.released_at < Date.today
            Released:
          - else
            Expected Release:
        = date @platform.released_at
    - if @platform.giant_bomb_platform
      - if @platform.giant_bomb_platform.install_base
        %div

          %strong.question
            Install Base:
          =  number_with_delimiter @platform.giant_bomb_platform.install_base
      - if @platform.giant_bomb_platform.original_price
        %div
          %strong.question
            Original Price:
          \$#{@platform.giant_bomb_platform.original_price}
    - if @platform.generation
      %div
        %strong.question
          Generation:
        = link_to @platform.generation.ordinalize,
          platform_generation_path(@platform.generation)
    - unless @aliases.empty?
      %div
        %strong.question
          Also known as:
        = @aliases.collect(&:name).to_sentence

%h2 Games
= sort_dropdown
= render_ar @ports, locals: {show_port_rankings_numbers:  true}
= will_paginate @ports

- if @platform.giant_bomb_platform
  %div
    This platform data is from
    = link_to(image_tag("search/giantbomb_logo.png"), @platform.giant_bomb_platform.url, :rel => 'nofollow')