- @hide_create_account_plug = true
%h1
  = @title = "Reset Password"
%div
  = form_with(url:reset_password_request_path, local: true, builder: EasyFormBuilder) do |f|
    = f.text_field :email
    = submit_tag "Reset Password", :class => "button"
    = link_to "Cancel", sign_in_path

