- @hide_create_account_plug = true
%h1
  = @title = "Reset Password"
%div
  = form_with(url:reset_password_path, local: true, builder: EasyFormBuilder) do |f|
    = f.password_field :password
    = f.password_field :password_confirm
    = f.hidden_field :code, value: params[:code]
    = submit_tag "Reset Password", class: "button"