#sources
  Source:
  - @sources.keys.each do |source|
    = link_to_unless @source == source, image_tag("search/#{source.gsub(" ", "_")}_logo.png"), search_path(:search_source => source, :query => @query)
= h1_title "Search for: #{@query}"
.left80
  - if @query.blank?
    .error
      Enter a search into the above search field to perform a search
  - elsif @results.blank?
    - if @error
      .error
        Error contacting amazon:
        = @error
    - else
      .error
        Sorry, no results matched your search query on #{@source}.
  - else   
    - if @results.respond_to?(:total_pages)
      .contentBlock
        = page_entries_info(@results, :model => 'game').html_safe
    .contentBlock
      = render_ar @results
    - if @source == "giantbomb"
      .contentBlock
        Search results provided by
        = link_to "Giant Bomb", "https://www.giantbomb.com", :rel => 'nofollow'
        thanks!
    - if @results.respond_to?(:total_pages)
      .contentBlock
        = will_paginate @results
- if is_admin?
  .contentBlock
    = link_to "add a game not in our database", new_port_path