:css
  input[type=checkbox] {
    width: 50px;
    height: 50px;
    float: left;
  }
:javascript
  window.onkeydown = function(e) {
    if(e.keyCode == 13) {
      $('.next').click();
    }
    if (e.keyCode == 27) {
      $(".back")[0].click();
    }
    console.log(e.keyCode);
  }

= h1_title "Merge Tool"

.contentBlock
  = form_tag("?", method: :get) do
    = text_field_tag :query, params[:query]

    Platform
    %select(name="platform")
      %option{selected: !@platform ? "selected" : nil}
      - @platforms.each do |platform|
        %option{selected: @platform == platform ? "selected" : nil}
          = platform.name
    = submit_tag "Search", class: "button"

- if @platform
  %h2
    = @platform.name
  = form_tag(admin_merge_confirm_path, local: :true, class: "edit_form") do
    = hidden_field_tag :query, params[:query]
    = hidden_field_tag :platform, params[:platform]
    .smallCoverList
      - @ports.each do |port|
        .clear
          = link_to port_image(port, "SX50"), port, class: 'leftImage'
          .details
            = check_box_tag "ids[]", port.id, false, class: "large"
            = link_to_ar port, class: "title"
            %div
              rankings:
              = port.rankings_count
    .floatingButtons
      = link_to "back", missing_metadata_path, class: "back"
      = link_to "Merge All", "#", class: "button", onclick: "$('input[type=checkbox]').prop('checked', true);$('.edit_form').submit();return false;"
      = submit_tag "merge", class: "button next"
  = will_paginate @ports