- @ports.each do |port|
  - merge_port_url = merge_tool_path(platform: port.platform.name, query: port.title)
  .clear
    = link_to port_image(port, "SX50"), merge_port_url, class: 'leftImage'
    .details
      = link_to port.title, merge_port_url, class: "title"
      %div
        rankings:
        = port.rankings_count
      %div
        = link_to "Merge", merge_port_url
        = link_to "Game Page", game_path(port.game, port_id: port.id)
= will_paginate @ports