- @title = "#{@user.real_name} - Edit Email Preferences"
.breadCrumbs
  = link_to "Users", users_path
%h1
  = link_to_ar @user
  &gt;
  Edit Email Preferences

.contentBlock
  %p
    Sorry to see you go.  You can use these buttons to opt out of emails from gamerankr.
  %p 
    = link_to "Click here to access all of your account settings.", edit_user_path(@user)

= form_for @user do |f|
  - if params[:pref] == "comment_notification_email"
    = f.hidden_field :comment_notification_email, value: "0"
    = f.submit "Opt out of comment notification emails", :class => "button"
  - elsif params[:pref] == "friend_update_email"
    = f.hidden_field :friend_update_email, value: "0"
    = f.submit "Opt out of friend update emails", :class => "button"
  - elsif params[:pref] == "new_follower_email"
    = f.hidden_field :new_follower_email, value: "0"
    = f.submit "Opt out of new follower emails", :class => "button"

= form_for @user do |f|
  = f.hidden_field :comment_notification_email, value: "0"
  = f.hidden_field :friend_update_email, value: "0"
  = f.hidden_field :new_follower_email, value: "0"
  = f.submit "Opt out of all Emails from Gamerankr", :class => "button"