= render "users/search_form"
= h1_title "Users"
.contentBlock
  .left50
    %h2 Recently Active
    = render_ar @recent, locals: {expanded: true}
  .left50
    %h2 Popular Users to Follow
    = render_ar @popular, locals: {expanded: true}
.contentBlock
  = link_to 'See All', users_all_path