.breadCrumbs
  = link_to "Users", users_path
- if current_user_is_user?
  .right
    = link_to "Edit profile", edit_user_path(@user)
= h1_title @user.real_name
= user_photo(@user, "large")
.contentBlock
  - if @user.handle?
    %div
      %strong Handle
      = @user.handle
  - if @user.location?
    %div
      %strong Location
      = @user.location
  - if @user.about?
    %div
      %strong About
      = @user.about
  - unless @user_profile_questions.blank?
    %div
      - @user_profile_questions.each do |pq|
        .profileQuestion
          %strong.question #{pq.question}
          %span.answer #{pq.answer}
- if @rankings.size > 0
  .contentBlock
    %h2 #{@user.first_name}'s Shelves
    - @user.shelves.where("ranking_shelves_count > 0").each do |shelf|
      = link_to_ar shelf
    = link_to "All", rankings_user_path(@user)

  %h2 #{@user.first_name}'s Games
  = render :partial => 'rankings/ranking_game', :collection => @rankings
  = link_to "See all of #{@user.real_name}'s games", rankings_user_path(@user)
- else
  .contentBlock
    #{@user.first_name} has not added any games yet.