.breadCrumbs
  = link_to "Users", users_path
- if current_user_is_user?
  .right
    = link_to "Edit profile", edit_user_path(@user)
= h1_title @user.real_name
= user_photo(@user, "large")
.contentBlock
  - if @user.handle?
    %div
      %strong Handle
      = @user.handle
  - if @user.location?
    %div
      %strong Location
      = @user.location
  - if @user.about?
    %div
      %strong About
      = @user.about
  - unless @user_profile_questions.blank?
    %div
      - @user_profile_questions.each do |pq|
        .profileQuestion
          %strong.question #{pq.question}
          %span.answer #{pq.answer}
.contentBlock
  %h2 #{@user.first_name}'s Shelves
  - @user.shelves.each do |shelf|
    = link_to_ar shelf

%h2 #{@user.first_name}'s Games
= render :partial => 'rankings/ranking_game', :collection => @rankings
