- @meta_description = "#{@user.real_name}'s profile page."
.breadCrumbs
  = link_to "Users", users_path
- if current_user_is_user?
  .right
    = link_to "Edit profile", edit_user_path(@user)
.contentBlockShort
  .profilePhoto
    = user_photo(@user, "large")
  .left70
    = h1_title @user.real_name
    %div
      %strong.question Games
      = @user.rankings_count
    %div
      %strong.question Joined
      = @user.created_at.strftime("%B %Y")
    - if @user.handle?
      %div
        %strong.question Handle
        = @user.handle
    - if @user.location?
      %div
        %strong.question Location
        = @user.location
    - if @user.about?
      %div
        %strong.question About
        = @user.about
    - unless @user_profile_questions.blank?
      %div
        - @user_profile_questions.each do |pq|
          .profileQuestion
            %strong.question #{pq.question}
            %span.answer #{pq.answer}
.contentBlockShort
  = render partial: 'follow/button', locals: {user: @user}
  - if @follower
    %div
      = @user.first_name
      is following you.
.contentBlock
  .smallUsersSection
    %h2
      Following
      = @user.following_count
      - if @user.following_count > 5
        = link_to "all", following_user_path(@user), class: "smallLink"
    - if @followers.empty?
      No followers yet.
    - else
      = render_ar @followings
  .smallUsersSection
    %h2
      Followers
      = @user.follower_count
      - if @user.following_count > 5
        = link_to "all", followers_user_path(@user), class: "smallLink"
    - if @followers.empty?
      Not following anyone.
    - else
      = render_ar @followers
  - if @rankings.size > 0
    .shelvesSection
      %h2 Shelves
      - @user.shelves.where("ranking_shelves_count > 0").each do |shelf|
        = link_to_ar shelf
      = link_to "All", rankings_user_path(@user)
- if @rankings.size > 0
  .contentBlock
    %h2
      Games
      - if @rankings.size < @user.rankings_count
        = link_to "all", rankings_user_path(@user), class: "smallLink"
    = render partial: 'rankings/ranking_game', collection: @rankings
- elsif current_user_is_user?
  .contentBlock
    %h2 Games
    You haven't added any games yet.
    %a{href: games_url} Browse games and add some.
- else
  .contentBlock
    %h2 Games
    #{@user.first_name} has not added any games yet.