%div
  = link_to_ar @comment.user
  commented on
  %a{:href => url_for(@resource)}
    - if @resource.user_id == @to_user.id
      your 
    - else
      = @resource.user.real_name + "'s "
    review of 
    = @resource.game.title
%div
  "#{@comment.comment}"
%div
  = link_to "See all comments", @resource, :style => "font-size:2em"
