.contentBlock
  %h2 Browse
  %span.subNav
    = link_to_unless_current "All Time Most Popular Games", games_path
    = link_to_unless_current "New Releases", new_releases_path
    = link_to_unless_current "Recently Popular", recently_popular_path
    = link_to_unless_current "Upcoming Titles", upcoming_path
    = link_to_unless_current "Genres", genres_path
    = link_to_unless_current "Users", users_path
