= errors_for @game
= form_for @game, builder: EasyFormBuilder do |f|
  = f.text_field :title
  = f.date_select :initially_released_at,
    start_year: 1960,
    end_year: Date.today.year + 10,
    include_blank: true
  = f.select :initially_released_at_accuracy, Port::RELEASED_AT_ACCURACIES
  = f.text_area :description
  = f.submit "Save", class: "button"