- port = game.best_port
- score ||= nil
.listItem{itemscope: nil, itemtype: "http://schema.org/VideoGame"}
  = link_to port_image(port, "SL140", itemprop: "image"), game, class: 'leftImage'
  .info
    .topLine
      = link_to_ar game, itemprop: "name"
      = platform_list(game)
    - if game.initially_released_at
      - if game.initially_released_at < Date.today
        published in
      - else
        expected publication
      = game.initially_released_at.year
    .rankings
      = pluralize game.rankings_count, "ranking"
      - if game.rankings_count > 0
        average rating:
        = number_with_precision(game.average_ranking, precision: 2)
    - if score && admin?
      .score
        simularity score:
        = score
  = render partial: 'rankings/rank_stuff', locals: {port: port}