- @title = "#{@game.title} - edit"
.breadCrumbs
  = link_to "Games", games_path
%h1
  = link_to_ar @game
  &gt;
  Edit

= render 'games/game_form'

%h2 Series
.seriesList
  - @game.game_series.each do |gs|
    .series
      = link_to_ar gs.series
      = form_for(gs, :method => 'delete', :remote => true) do |f|
        = f.submit "X",
          :confirm => "remove #{@game.title} from the #{gs.series.name} series?"
= form_for(GameSeries.new,
    :remote => true,
    :builder => EasyFormBuilder) do |f|
  = f.hidden_field :game_id, :value => @game.id
  = f.text_field :series_name
  = f.submit "Add"
  
= form_for(@game, :method => :delete) do |f|
  = f.submit "delete game", :confirm => "Are you sure you want to delete the game #{@game.title}, all associated ports, reviews, etc will also be deleted?"
  
- @defered_js = 'one_offs/edit_series.js'
  