.contentBlock
  .leftImage
    - cover = amazon_image(@port, "SX200")
    - if @port.amazon_image_url
      = link_to cover, cover_port_path(@port)
    - else
      = cover
  .details
    = h1_title @game.title
    - unless @game.platforms.empty?
      .platforms
        = @game.platforms.size == 1 ? "Platform:" : "Platforms:"
        - @game.platforms.each do |platform|
          = link_to_ar(platform)
    - if !@game.genres.empty? || is_admin?
      .genres
        = @game.genres.size == 1 ? "Genre:" : "Genres:"
        - @game.genres.each do |genre|
          = link_to_ar(genre)
        - if is_admin?
          = link_to "Edit", game_genres_game_path(@game)
    - unless @game.developers.empty?
      .developers
        = @game.developers.size == 1 ? "Developer:" : "Developers:"
        - @game.developers.each do |developer|
          = link_to_ar(developer)
    - unless @game.designers.empty?
      .designers
        = @game.designers.size == 1 ? "Designer:" : "Designers:"
        - @game.designers.each do |designer|
          = link_to_ar(designer)
    - unless @game.publishers.empty?
      .publishers
        = @game.publishers.size == 1 ? "Publisher:" : "Publishers:"
        - @game.publishers.each do |publisher|
          = link_to_ar(publisher)
    .rankings
      = pluralize(@game.rankings_count, "ranking") + ","
      - if @game.rankings_count > 0
        average rating:
        = @game.average_ranking
    .initially_released_at
      - if @game.initially_released_at
        - if @game.initially_released_at < Date.today
          Published:
        - else
          Expected Publication:
        - if @game.initially_released_at_accuracy == "year"
          = @game.initially_released_at.year
        - else
          = Date::MONTHNAMES[@game.initially_released_at.month]
          - if @game.initially_released_at_accuracy == "day"
            = @game.initially_released_at.day.ordinalize
          = @game.initially_released_at.year
    .buy_links
      - if @port.amazon_url?
        = link_to image_tag("amazon_butt.gif", :alt => "Amazon"),
          @port.amazon_affiliate_url
        
      - if @port.amazon_price?
        %span{:style => "color:green"}
          = format_price @port.amazon_price
    = link_to "Screenshots", screenshots_game_path(@game)
    
    - if @port.amazon_description?
      .description
        = @port.amazon_description
    - if is_admin?
      .editLink
        = link_to "Edit", edit_port_path(@port)

.contentBlock
  %h2 My Review
  - if @ranking
    = render 'rankings/ranking', :ranking => @ranking
    - if @ranking.started_at
      .played_at
        Played:
        = date @ranking.started_at
        - if @ranking.finished_at
          \-
          = date @ranking.finished_at
    = link_to "Edit", edit_ranking_path(@ranking)
  - else
    = render :partial => 'rankings/rank_stuff', :locals => {:port => @port}
.contentBlock
  %h2 Friends' Rankings
  .friendsRankings
    - if signed_out?
      = link_to_fb_connect
      to see what your friends are playing.
    - elsif @friend_rankings.empty?
      None of your friends have added this game yet.
    - else
      .rankings
        = pluralize(@friend_rankings.size, "Ranking") + ","
        - if (avg = @friend_rankings.collect(&:ranking).average) > 0
          Average Rating:
          = format_decimal(avg)
      = render :partial => 'rankings/ranking_user', :collection => @friend_rankings
  -#
    = link_to "recommend it"
    or
    = link_to "ask a friend to review it"

.contentBlock
  %h2 Everyone's Rankings
  .everyonesRankings
    - if @all_rankings.empty?
      No one has added this game yet.
    - else
      .rankings
        = pluralize(@game.rankings_count, "Ranking") + ","
        - if @game.rankings_count > 0
          Average Rating:
          = @game.average_ranking
      = render :partial => 'rankings/ranking_user', :collection => @all_rankings
      = will_paginate @all_rankings
