%div
  %p
    Hey #{@to_user.first_name},
  %p
    Heres a summary of your friends activity on
    = link_to "GameRankr", root_url
    for the week ending on #{@date_str}.
%table
  - @updates.each do |ranking|
    - port = ranking.port
    - user = ranking.user
    %tr
      %td
        = link_to port_image(port, "SX140", :style => "max-width: 92px"), port
      %td
        %div
          %strong
            = link_to_ar user
          = ranking.verb
          = link_to_ar port
          (#{link_to_ar port.platform})
        %div
          = render_ar ranking
= link_to "View all updates", friends_url, :style => "font-size: 2em"