.breadCrumbs
  = link_to "Series", series_path
  &gt;
= h1_title "#{@series.name} Series"
- if @series.description?
  = @series.description
%h2 Games
= render_ar @games.collect(&:port)
= will_paginate @games