- @title = "#{@manufacturer.name} - Edit"
.breadCrumbs
  = link_to "Manufacturer", manufacturers_path
%h1
  = link_to_ar @manufacturer
  &gt;
  Edit
= error_messages_for :manufacturer
- form_for @manufacturer, :builder => EasyFormBuilder do |f|
  = f.text_field :name
  = f.text_area :description
  = f.submit "Save"