- if admin?
  .right
    = link_to "Edit", edit_manufacturer_path(@manufacturer)
.breadCrumbs
  = link_to "Manufacturers", manufacturers_path
= h1_title @manufacturer.name

- if @manufacturer.description
  .contentBlock
    = @manufacturer.description
.blockingLinks
  - @platforms.each do |p|
    = link_to_ar p