#footer
  %span#copyright
    &copy;
    = link_to "Michael Economy", "http://www.michaeleconomy.com"
    = Date.today.year
  = link_to "About", about_path, :class => 'firstFooterLink'
  = link_to "Contact", contact_path
  = link_to "iOS App", "https://itunes.apple.com/app/id1336135603"
  = link_to "Facebook Page", "https://www.facebook.com/gamerankr/"