<!DOCTYPE html>
%html
  %head
    %title
      GameRankr -
      = @title || "Rate and Review Video Games With Friends"
    = stylesheet_link_tag "application"
    = csrf_meta_tag
    = render "layouts/metatags"
  %body
    = render "layouts/header"
    #main
      - if flash[:notice]
        .flash.notice
          = flash[:notice]
          %a.right.closeLink(href="#") x
      - if flash[:error]
        .flash.error
          = flash[:error]
          %a.right.closeLink(href="#") x
      - if signed_out? && !@hide_create_account_plug
        .contentBlock
          Join GameRankr and track your games with friends.
          = link_to "Get Started", create_account_path, class: "button", method: :post
      = yield
    = render "layouts/footer"
    #fb-root
    #componentsBox.hidden
      #addShelves
        - current_shelves.each do |shelf|
          %a{shelf_id: shelf.id, shelf_name: shelf.name}
            = shelf.name

      .editShelvesContainer
        .editShelves
          %a.expander
          - current_shelves.each do |shelf|
            %a{shelf_id: shelf.id, shelf_name: shelf.name}
              = shelf.name
    = render "layouts/footer_js"